body{
  font-family: 'Helvetica';
  text-align: center;
  background: #212121;
}

h1{
  color: #fff;
}

p {
  color: #fff;
  font-size: 30px;
}

#play_img {
  
  height: 100px;
}

footer {
	color: #aaa;
	font-size:14px;
	}